/*
Everything is created as section to search section - Search '$' followed by section name


	1. $Global Style
	2. $Bootstrap Overwrite
	3. $Misc
	4. $Typography
	5. $Button
	6. $Forms
	7. $Internal Page
			7.1 $Page-home
			7.2 $Page-about`
			7.3 $Page-contact	

	8.$Footer
*/

/*
--------------------------------------------------------------------------------------
$Global Style
--------------------------------------------------------------------------------------
*/

body {
	font-family: 'Play', sans-serif !important;
	background:  #fff;
padding-top: 70px;

}	
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: 'Play', sans-serif !important;
}

.home-search {
  background: #f6f6f6;
  padding: 100px 40px 100px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  /* overflow: visible; */
  position: relative;
  top: 150px;
  width: 800px;
  margin: 0 auto;
  z-index: 999;
}
.home-search input {
  padding: 15px;
  padding-left: 35px;
  color: #a0a0a0;
}
.home-search .zmdi {
    position: relative;
    top: -30px;
    right: -260px;
          color: #C7C7C7;
}
/*
--------------------------------------------------------------------------------------
$Bootstrap Overwrite
--------------------------------------------------------------------------------------
*/
.navbar-brand {
margin-right: 100px;

}
.navbar-inverse {
background:  #232F3E;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
background: #182331;
}
.navbar.navbar, .navbar-default.navbar { 
 background: #232F3E;
 padding: 10px;
}
.navbar .navbar-form {
margin: 0;
}
.navbar-inverse .empty {
margin-right: 30px;
width: 250px;
}
.navbar-inverse .form-control {
width: 250px;
}
.homeSearch {
    display: inline-block;
}
.homeSearch .btn {
padding: 6px;
    position: relative;
    left: -31px;
    background: #26364A !important;
    border: 1px solid #35475D;

}
.modal-open .modal {
    background: none repeat scroll 0 0 rgba(35, 47, 62,0.9) !important;

}

.modal-content .modal-body+.modal-footer {
position: relative;
z-index: 999;

}


/*
--------------------------------------------------------------------------------------
$Login / Register
--------------------------------------------------------------------------------------
*/
.modal .fade .in .toggle {
display: none;

}
.rememberMe {

	    margin: 0 60px;
}
.pen-title {
   text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 28px;
  font-weight: 300;
  color: #333;
}

.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/* Container */
.loginContainer {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 20px;
}
.loginContainer.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.loginContainer.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.loginContainer.active .card.alt {
  top: 10px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 50px 0 40px;
  overflow: hidden;
}
.loginContainer.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
          transition: transform .3s ease;
}
.loginContainer.active .card.alt .toggle:before {
  content: '';
}
.loginContainer.active .card.alt .title,
.loginContainer.active .card.alt .input-container,
.loginContainer.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
          transition: .3s ease;
}
.loginContainer.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.loginContainer.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.loginContainer.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.loginContainer.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.loginContainer.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.loginContainer .card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
   box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
          transition: .3s ease;
          box-shadow: none;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ed2553;
  margin: 0 0 15px;
  padding: 10px 0 10px 20px;
  color: #ed2553;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 20px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 50px;
  border: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
      -ms-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
      -ms-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
          margin-top: -12px;
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ed2553;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
          transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 14px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
          transition: .3s ease;
              margin-top: 20px;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
          transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
          transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #ed2553;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #ed2553;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.card .footer {
     margin: 20px 0 0;
    color: #d3d3d3;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    background: none;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
          transition: .3s ease;
}
.social-login {
    margin-top: 40px;
    color: #fff;
    font-size: 14px;

}
.social-login a {
border: 1px solid #eee;
padding: 10px;
margin-right: 20px;
}
.social-login a:hover {
color: #fff !important;

}
.social-login .fb {
    background-color: #49639F;
}
.social-login .google {
    background-color: #DF4A32;
}

.card .footer a:hover {
  color: #b9b9b9;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
          transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  background: #ed2553;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
      position: relative;
    left: 60px;
}
.card.alt .toggle:before {
     content: 'Register';
    font-size: 26px !important;
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    top: -8px;
}


.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #ed2553;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

/*
--------------------------------------------------------------------------------------
$Footer
--------------------------------------------------------------------------------------
*/
footer, .footer{
background-color: #5F738C;
 color: #fff;
}
footer .container-fluid, .footer .container-fluid {
padding: 0;

}
footer .col-md-6, .footer .col-md-6 {
    background: #607D8B;
 
padding: 10px;
}
footer .col-md-6:nth-child(2), .footer .col-md-6:nth-child(2) {
padding: 10px; 
 background: #F774A0;
 background: #607D8B;

}

/*
--------------------------------------------------------------------------------------
$Misc
--------------------------------------------------------------------------------------
*/

/* Margin */
.no-space {
	margin: 0px !important;
	padding: 0px !important;
}
.no-margin {
	margin: 0 !important;
}
.no-marginLeft {
	margin-left: 0 !important;
}
.no-marginRight {
	margin-right: 0 !important;
}
.no-marginTop {
	margin-top: 0 !important;
}
.no-marginBottom {
	margin-bottom: 0 !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-top-20 {
	margin-top: 20px !important;
}
.margin-bottom-25 {
	margin-bottom: 25px !important;
}
.margin-bottom-30 {
	margin-bottom: 30px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
	}
.margin-right-10 {
	margin-right: 10px !important;
}


/* Padding */

.no-padding {
	padding: 0 !important;
}
.no-paddingLeft {
	padding-left: 0 !important;
}
.no-paddingRight {
	padding-right: 0 !important;
}
.no-paddingTop {
	padding-top: 0 !important;
}
.no-mBottom {
	padding-bottom: 0 !important;
}
.padding-bottom-5 {
	padding-bottom: 5px !important;
}
.padding-bottom-10 {
	padding-bottom: 10px !important;
}
.padding-top-10 {
	padding-top: 10px !important;
}
.padding-top-15 {
	padding-top: 15px !important;
}
.padding-bottom-15 {
	padding-bottom: 15px !important;
}
.padding-bottom-20 {
	padding-bottom: 20px !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}
.padding-bottom-25 {
	padding-bottom: 25px !important;
}
.padding-bottom-30 {
	padding-bottom: 30px !important;
}
.padding-left-10 {
	padding-left: 10px !important;
	}
.padding-right-10 {
	padding-right: 10px !important;
}
	
	
.inline {
	display: inline !important;
}
.inline-block {
	display: inline-block !important;
}
.block {
	display: block !important;
}
.full-screen {
	width: 100% !important;
}
.fixed {
	position: fixed !important;
}
.relative {
	position: relative !important;
}
.absolute {
	position: absolute !important;
}
.static {
	position: static !important;
}
.border {
	border: 1px solid #CECECE !important;
}

/* General utilities */
.display-none, .display-hide {
	display: none !important;
}
.hidden {
	display: none !important;
}
.bold {
	font-weight: 700 !important;
}
.thin {
	font-weight: 300 !important;
}
.uppercase {
	text-transform: uppercase !important;
}
.font-hg {
	font-size: 23px !important;
}
.font-lg {
	font-size: 18px !important;
}
.font-md {
	font-size: 14px !important;
}
.font-sm {
	font-size: 13px !important;
}
.font-xs {
	font-size: 11px !important;
}
.no-border {
	border: none !important;
	}		
/*
--------------------------------------------------------------------------------------
$Internal Page
--------------------------------------------------------------------------------------
*/
.filter {
padding:  15px;
  background: #E8EBEF;
  min-height: 1200px;
}
.filter .panel-heading {
   text-transform: uppercase;
  letter-spacing: 0.5px;
    color: #FFFFFF;
  background-color: #797C8E;
}
.filter h4 {
  font-size: 14px;
}
.filter .panel-heading > a {
color: #fff;
text-decoration: none;
}
.filter .panel-group .panel {
    margin-bottom: 30px;

}
.collapsed .fa {
    -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.filterResult {
     color:  #787EA1;
}
.filterResult h1, .filterResult h2, .filterResult h3, .filterResult h4, .filterResult h5, .filterResult h6 {
  font-weight: bold;
  letter-spacing: 1px;
}
.filterResult h1 {
  margin-bottom: 20px;
  font-size: 30px;
}
.filterResult h2 {
  font-size: 26px;
  margin: 30px 0;
}
.filterResult h3 {
font-size: 20px;

}
.filterResult h3 span {
      font-weight: normal;

}
.filterResult p {
  font-size: 16px;
  line-height: 1.8em;
}
.filterResult h1 a:hover {
  color: #03a9f4;
}
.filterResult li {
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 5px;
  font-size: 15px;
 }